@font-face {
    font-family: 'genshin';
    src:url('genshin.ttf')
    format('truetype');
}

body {
    /* Placeholder bg, we can change it to anything we decide later */
    background: url('https://i.redd.it/66ic9c791ih61.png') fixed center no-repeat;
    height: 100vh;
    background-size: cover;
    font-family:'genshin'!important;
    font-size: 1vw;
    color: black;
}

h1 {
    color: white;
    font-size: 1vw;
    padding-top: 10%;
}

img {
    width:100%;
}

.frame {
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(2px 2px 2px #222);
}

.container-fluid {
    height:100vh;
}

.row {  /* The outermost row */
    /*background-color: brown;
    opacity: 50%;*/
    margin: auto;
}

.col-sm {   /* The col with the tabs */
    /*background-color: cyan;
    opacity: 50%;*/
    position: absolute;
    margin: 10vw 10vw auto;
    max-width: 9vw;
    text-align: center;
}

.col-md {   /* The col with the calc button */
    background-color: rgb(7, 180, 180);
    /*opacity: 50%;*/
    position: absolute;
    margin: 12.5vw 20vw auto;
    max-width: 17vw;
    text-align: center;
}

.col-lg {   /* The col with the parameters */
    /*background-color: rgb(3, 128, 128);
    opacity: 50%;*/
    position: absolute;
    margin: 12.5vw auto auto 38vw;
    max-width: 44.5vw;
    padding: 0vw;
}

.tabs {
    /*background-color: rgb(212, 164, 252);*/
    border: 1px solid black;
    margin: auto auto .8vw auto;
    padding: 1.5vw;
}

.tabs:hover {
    color: rgb(255, 255, 255);
}

.parameters {
    background-color: rgb(212, 164, 252);
    margin: auto auto .5vw auto;
    max-width: 43vw;
    padding: 5.3%;
}

form{
    padding-top: 20%;
    padding-bottom: 20%;
}

input{
    border-radius: 10px;
}