@font-face {
    font-family: 'genshin';
    src:url('genshin.ttf')
    format('truetype');
}

body {
    /* Placeholder bg, we can change it to anything we decide later */
    background: url('https://i.redd.it/66ic9c791ih61.png') fixed center no-repeat;
    height: 100vh;
    background-size: cover;
    font-family:'genshin'!important;
    font-size: .8vw;
    color:#555555;
}

h1 {
    color: #84603D;
    font-size: 1.5vw;
    padding-top: 12%;
}

h2 {
    color: #84603D;
    font-size: 1vw;
}

#param {
    padding: 0px;
}

img {
    width:100%;
}

.frame {
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(2px 2px 2px #222);
}

.container-fluid {
    height:100vh;
}

.row {  /* The outermost row */
    /*background-color: brown;
    opacity: 50%;*/
    margin: auto;
}

.col-sm {   /* The col with the tabs */
    /*background-color: cyan;*/
    position: absolute;
    margin: 10vw 10vw auto;
    max-width: 9vw;
    text-align: center;
}

.col-md {   /* The col with the calc button */
    /*background-color: rgba(7, 180, 180, 0.288);*/
    position: absolute;
    margin: 12.5vw 20vw auto;
    max-width: 17vw;
    text-align: center;
}

.col-lg {   /* The col with the parameters */
    /*background-color: rgb(3, 128, 128);
    opacity: 50%;*/
    position: absolute;
    margin: 13.2vw auto auto 38vw;
    max-width: 44.5vw;
    padding: 0vw;
}

.tabs {
    /*background-color: rgb(212, 164, 252);*/
    border: 1px solid black;
    margin: auto auto .8vw auto;
    padding: 1.5vw;
    font-size: 1vw;
}

.tabs:hover {
    transition: color .35s linear;
    color: rgb(255, 255, 255);
}

.parameters {
    /*background-color: #EBE2D8;*/
    background-image: linear-gradient(to right, rgba(255, 153, 0, 0.048), #EBE2D8 50%);
    border: 2px double #D6CABC;
    margin: auto auto .5vw auto;
    width: 43vw;
    height: 7.6vw;
    padding: 3%;
}

form {
    padding: auto;
}

input {
    border-color: #D6CABC;
    border-radius: 8px;
    color: #84603D;
}

input[type=number]:focus {
    transition: background-color .35s ease-in-out;
    background-color:  #D6CABC;
  }