<!DOCTYPE html>
<html lang="en">

  <head>

    <link rel="shortcut icon" href="static/images/sprimogem.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/styles.css">

    <title>Primogem Calculator</title>

  </head>

  <body>

    <!-- Container Start -->
    <div class="container-fluid">

      <!-- PopUp Start -->
      <div id="popwrap" style='display:none'>
        <div id="popup">
          <div id="popuptxt">
            <h3>Disclaimer & Instructions</h3><br>
            <img class="star" src="static/images/star.png"> &emsp;Date selection starts from patch 2.0.  <br>
            <img class="star" src="static/images/star.png"> &emsp;The <span>estimate button</span> autofills fields with average values (F2P assumed). You may edit them as needed. <br>
            <img class="star" src="static/images/star.png"> &emsp;Calculations do not factor Paimon's Bargains shop fates. <br>
            <img class="star" src="static/images/star.png"> &emsp;If the end date is the start of a new abyss cycle, primogems obtainable during that cycle will be included. <br>
            <img class="star" src="static/images/star.png"> &emsp;Events are calculated per patch. Only enter values for a single patch. <br>
            <img class="star" src="static/images/star.png"> &emsp;Event values are estimated based on data from previous patches. May not be accurate. <br>
            <img class="star" src="static/images/star.png"> &emsp;Welkin 300 Genesis Crystals not included (but can be input manually into the Genesis Crystals field). <br>
            <img class="star" src="static/images/star.png"> &emsp;You can access this window again through the Adventurer Handbook X tab.<br>
            <!--<img id="paimon" src="static/images/paimon.png">-->
            <footer>All assets used belong to miHoYo Co., Ltd.</footer>
            <div id="popupbt" onclick="popUp('hide')">
            <div id="oCircle"><div id="iCircle"></div></div>Confirm </div>
          </div>
        </div>
      </div>
      <!-- PopUp End -->

      <form action="/results" method="POST" id="param_form" onsubmit="return validate()">
        
        <!-- Outermost Row Start -->
        <div class="row">

          <img class="frame" src="static/images/frame.png">

          <!-- Tabs Col Start -->
          <div class="col-sm">

            <div class="tabs">    <!-- Input Tab -->
              <a href="/">
                <div id="tabs1">
                  INPUT
                </div>
              </a>
            </div>
            <div class="tabs">    <!-- Results Tab -->
                <div id="tabs2">
                  RESULTS
                </div>
              </a>
            </div>

          </div>
          <!-- Tabs Col End -->

          <!-- Calc Col Start -->
          <div class="col-md">

            <h1> PRIMOGEM CALCULATOR </h1>
            <br>
            <label for="start">Start Date:</label>
            <input type="date" id="start" name="start" onchange="cal()" min="2021-07-20" max="2024-01-30" required>
            <br><br>
            <label for="end">End Date:</label>
            <input type="date" id="end" name="end" onchange="cal()" min="2021-07-20" max="2024-01-30" required>

            <div class="deco">  <!-- The circle w/ the date range -->
              <div class ="days">
                  <input id="numdays2" name="numdays" value="0"/>   <!-- The date range -->
              </div>
            </div>

            <button class="calc" type="button" id="estimate" onclick="fillBlanks()">ESTIMATE</button>
            <button class="calc" type="submit" form="param_form">CALCULATE</button>

          </div>
          
          <div class="col-lg">

            <div id="info" onclick="popUp('show')"> </div>

            <!-- Parameters Input Start -->
            <div id="tabs-1">

                <div class="parameters"> 
                  <div class="abyss"> <h2 id="param">ABYSS RESET</h2> </div>
                  How many stars do you have per floor per reset on average? <br>Floor 9: <input type="number" id="abyss9" name="abyss9" min="0" max="9"> 
                  Floor 10: <input type="number" id="abyss10" name="abyss10" min="0" max="9"> Floor 11: <input type="number" id="abyss11" name="abyss11" min="0" max="9"> Floor 12: 
                  <input type="number" id="abyss12" name="abyss12" min="0" max="9">
                </div>

                <div class="parameters"> 
                  <div class="events"><h2 id= "param">EVENTS (per patch)</h2></div>
                  Include main events? <input type="checkbox" id="main_event" name="main_event">
                  How many side events? <input type="number" id="side_event" name="side_event" min="0"> 
                  How many new quests? <input type="number" id="new_quests" name="new_quests" min="0">
                </div>

                <div class="parameters"> 
                  <div class="misc"> <h2 id= "param">MISC FREE PRIMOGEMS</h2> </div>
                  Dailies? <input type="checkbox" name="dailies" id="dailies">
                  Maintenance & Livestream primos? <input type="checkbox" name="maint_live" id="maint_live">
                  Test runs? <input type="checkbox" name="test_runs" id="test_runs">
                </div>

                <div class="parameters">
                  <div class="paid"> <h2 id ="param">PAID PRIMOGEMS</h2> </div>
                  Welkin? <input type="checkbox" name="welkin" id="welkin">
                  Battle Pass? <input type="checkbox" name="bp" id="bp">
                  Genesis crystals? <input type="number" name="paid" id="paid" min="0">
                </div>

            </div>
            <!-- Parameters & Results Col End -->
          </div>

        </div>
        <!-- Outermost Row End -->

      </form>

    </div>
    <!-- Container End-->

    <!-- Optional JavaScript -->
    <script src="static/js.js"></script>
    <!-- <script type="text/javascript" src="jcookie.js"></script> -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>

</html>