<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/styles.css">

    <title>Primogem Calculator</title>

  </head>

  <body>

    <!-- Container Start -->
    <div class="container-fluid">

      <!-- Outermost Row Start -->
      <div class="row">

        <img class="frame" src="static/images/frame.png">

        <!-- Tabs Col Start -->
        <div class="col-sm">

          <div class="tabs">    <!-- Input Tab -->
            <div id="tabs1" onclick="displayTab(this); hideIntro();">
              <a href="index.html">INPUT</a>
            </div>
          </div>
          <div class="tabs">    <!-- Results Tab -->
            <div id="tabs2" onclick="displayTab(this); hideIntro();">
            <a href="/results">RESULTS</a>
            </div>
          </div>

        </div>
        <!-- Tabs Col End -->

        <!-- Calc Col Start -->
        <div class="col-md">
          <h1> PRIMOGEM CALCULATOR </h1>
          <br>
          <form action="/date_range.php">
            <label for="start">Start Date:</label>
            <input type="date" id="start" name="start" onchange="cal()">
            <br><br>
            <label for="end">End Date:</label>
            <input type="date" id="end" name="end" onchange="cal()">
          </form>
        <div class="deco">  <!-- The circle w/ the date range -->
          <div class ="days">
            <input id="numdays2" name="numdays"/>   <!-- The date range -->
          </div>
        </div>
          <button class="calc" type="submit">ESTIMATE</button>
          <button class="calc" type="submit" form="param_form">CALCULATE</button>
        </div>
        <!-- Calc Col End -->

        <!-- Parameters & Results Col Start -->
        <div class="col-lg">

          <!-- Disclaimer Start -->
          <div id="intro"> 
            <h2 id= "param">➤ Disclaimer & Intructions </h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <!-- Disclaimer End -->

          <!-- Parameters Input Start -->
          <div id="tabs-1" class="tabContent">

            <form method="POST" id="param_form">

              <div class="parameters"> 
              <h2 id="param">➤ ABYSS RESET</h2>
              How many average stars do you have per reset? <input type="number" id="abyss" name="abyss">
              </div>

              <div class="parameters"> 
                <h2 id= "param">➤ EVENTS</h2>
                Include main events? <input type="checkbox" id="main_event" name="main_event">
                How many side events? <input type="number" id="side_event" name="side_event">
                How many new quests? <input type="number" id="new_quests" name="new_quests">
              </div>

              <div class="parameters"> <h2 id= "param">➤ MISC FREE PRIMOGEMS</h2>
              Maintenance and livestream primos? <input type="checkbox" name="maint_live" id="maint_live">
              Dailies? <input type="checkbox" name="dailies" id="dailies">
              Test runs? <input type="checkbox" name="test_runs" id="test_runs">
              </div>

              <div class="parameters"> <h2 id ="param">➤ PAID PRIMOGEMS</h2>
              Welkin? <input type="checkbox" name="welkin" id="welkin">
              Battle Pass? <input type="checkbox" name="bp" id="bp">
              Genesis crystals? <input type="number" name="paid" id="paid">
              </div>

            </form>

          </div>
          <!-- Parameters Input End-->

          <!-- Results Output Start -->
          
          <!-- Results Output End -->

        </div>
        <!-- Parameters Col End -->

      </div>
      <!-- Outermost Row End -->

    </div>
    <!-- Container End-->

    <!-- Optional JavaScript -->
    <script src="static/js.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>

</html>