@font-face {
    font-family: 'genshin';
    src:url('genshin.ttf')
    format('truetype');
}

body {
    /* Placeholder bg, we can change it to anything we decide later */
    background: url('https://i.redd.it/66ic9c791ih61.png') fixed center no-repeat;
    height: 100vh;
    background-size: cover;
    font-family:'genshin'!important;
    font-size: .8vw;
    color:#555555;
    overflow-y: hidden;
}

h1 {
    color: #84603D;
    font-size: 1.5vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
    border-bottom: 3px dashed #D6CABC;
}

h2 {
    color: #84603D;
    font-size: 1vw;
}

#param {
    padding-bottom: .6vw;
}

.calc {     /* estimate and calculate buttons */
    display: block;
    background-color: #ebddce;
    border: 3px double #D6CABC;
    border-radius: 4px;
    color: #84603D;
    text-align: center;
    font-size: 1vw;
    margin: .5vw auto;
    padding: .5vw;
    width: 14vw;
}

img {
    width:100%;
}

.frame {
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(2px 2px 2px #222);
    z-index:-2;
}

.days {     /* days displayed from start/end date selection */
    margin: 5vw auto;
    font-size: 1.6vw;
}

#numdays2 {     /* days displayed from start/end date selection */
    background-color: transparent;
    border: 0px;
    text-align: center;
    width: 5vw;
}

.deco {     /* the circle image thing */
    background-image: url('images/deco.png');
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    margin: .5vw;
    border: 1px solid transparent;
}

.container-fluid {
    height: 100vh;
    padding: 0vw;
}

.row {  /* The outermost row */
    /*background-color: brown;
    opacity: 50%;*/
    margin: auto;
}

.col-sm {   /* The col with the tabs */
    /*background-color: rgba(0, 255, 255, 0.295);*/
    position: absolute;
    margin: 10.4vw 10.7vw auto;
    max-width: 9vw;
    text-align: center;
}

.col-md {   /* The col with the calc button */
    /*background-color: rgba(7, 180, 180, 0.096);*/
    position: absolute;
    margin: 12.5vw 20vw auto;
    max-width: 18vw;
    text-align: center;
}

.col-lg {   /* The col with the parameters */
    /*background-color: rgb(3, 128, 128);
    opacity: 50%;*/
    position: absolute;
    margin: 13.4vw auto auto 38.4vw;
    max-width: 44.5vw;
}

.tabs {
    /*background-color: rgb(212, 164, 252);
    border: 1px solid black;*/
    margin: auto auto .8vw auto;
    padding: 1.5vw;
    font-size: 1vw;
}

.tabs:hover {
    transition: color .35s linear;
    color: rgb(255, 255, 255);
}

.parameters {
    /*background-color: #EBE2D8;*/
    background-image: linear-gradient(to right, rgba(255, 153, 0, 0.048), #EBE2D8 50%);
    border: 3px solid #D6CABC;
    margin: auto auto .5vw auto;
    width: 43.5vw;
    height: 7.6vw;
    padding: 3%;
}

form {
    padding: auto;
}

input {
    border-color: #D6CABC;
    border-radius: 8px;
    color: #84603D;
    width: 10vw;
}

input[type=number] {
    width: 2.7vw;
    margin: 0px .5vw;
  }

input[type=number]:focus {
    transition: background-color .35s ease-in-out;
    background-color:  #D6CABC;
  }

input[type=checkbox] {
    width: 1.8vw;
  }