@font-face {
    font-family: 'genshin';
    src:url('genshin.ttf')
    format('truetype');
}

body {
    /* Placeholder bg, we can change it to anything we decide later */
    background: url('https://i.redd.it/66ic9c791ih61.png') fixed center no-repeat;
    height: 100vh;
    background-size: cover;
    font-family:'genshin'!important;
    font-size: .8vw;
    color:#555555;
    overflow-y: hidden;
}

h1 {
    color: #84603D;
    font-size: 1.5vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
    border-bottom: 3px dashed #D6CABC;
}

h2 {
    color: #84603D;
    font-size: 1vw;
    margin: .6vw 0 0 2.7vw;
}

#param {
    padding-bottom: .6vw;
}

.calc {     /* estimate and calculate buttons */
    display: block;
    background-color: #ebddce;
    border: 3px double #D6CABC;
    border-radius: 4px;
    color: #84603D;
    text-align: center;
    font-size: 1vw;
    margin: .5vw auto;
    padding: .5vw;
    width: 14vw;
}

img {
    width:100%;
}

.frame {
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(2px 2px 2px #222);
    z-index:-2;
}

.primototal {
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.primo {
    background-image: linear-gradient(to top, #D79844, #B8834B 50%);
    width: 4.5vw;
    position: relative;
    border-radius: 4px;
}

.primoval {
    background-color: rgba(0, 0, 0, 0.438);
    width: 4.5vw;
    position: relative;
    margin: -1.16vw 0 0 6.1vw;
    border-radius: 0 0 4px 4px;
    color: white;
}

.days {     /* days displayed from start/end date selection */
    margin: 5vw auto;
    font-size: 1.6vw;
}

#numdays2 {     /* days displayed from start/end date selection */
    background-color: transparent;
    border: 0px;
    text-align: center;
    width: 5vw;
}

.deco {     /* the circle image thing */
    background-image: url('images/deco.png');
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    margin: .5vw;
    border: 1px solid transparent;
}

.container-fluid {
    margin: auto;
    height: 100vh;
    padding: 0vw;
}

.row {  /* The outermost row */
    margin: auto;
}

.col-sm {   /* The col with the tabs */
    position: absolute;
    margin: 10.4vw 10.7vw auto;
    max-width: 9vw;
    text-align: center;
    color: white;
}

.col-md {   /* The col with the calc button */
    position: absolute;
    margin: 12.5vw 20vw auto;
    max-width: 18vw;
    text-align: center;
}

.col-lg {   /* The col with the parameters */
    position: absolute;
    margin: 13.4vw auto auto 38.4vw;
    max-width: 44.5vw;
}

.tabs {
    margin: auto auto .8vw auto;
    font-size: 1vw;
}

.tabs a:hover {
    text-decoration: none;
}

#tabs1 {    /* Input tab on input page */
    color: #84603D;
    padding: 1.5vw;
}

#tabs2 {    /* Results tab on input page */
    color: white;
    padding: 1.5vw;
}

#tabs1v2 {  /* Input tab on results page*/
    color: white;
    padding: 1.5vw;
}

#tabs2v2 {  /* Results tab on results page */
    color: #84603D;
    padding: 1.5vw;
}

#intro {    /* Disclaimer & Intructions */
    background-image: linear-gradient(to right, rgba(255, 153, 0, 0.048), #EBE2D8 50%);
    border: 3px solid #D6CABC;
    margin: auto auto .5vw auto;
    width: 43.5vw;
    height: auto;
    padding: 3%;
    line-height: 1.5vw;;
}

.parameters {
    background-image: linear-gradient(to right, rgba(255, 153, 0, 0.048), #EBE2D8 50%);
    border: 3px solid #D6CABC;
    margin: auto auto .5vw auto;
    width: 43.5vw;
    height: 7.6vw;
    padding: 3%;
}

.abyss {
    background-image: url('images/abyss.png');
    background-size: 5%;
    background-position: left;
    background-repeat: no-repeat;
    margin: -.5vw 0 .3vw 0;
    border: 1px solid transparent;
}

.events {
    background-image: url('images/events.png');
    background-size: 5%;
    background-position: left;
    background-repeat: no-repeat;
    margin: -.5vw 0 .3vw 0;
    border: 1px solid transparent;
}

.misc {
    background-image: url('images/misc.png');
    background-size: 5%;
    background-position: left;
    background-repeat: no-repeat;
    margin: -.5vw 0 .3vw 0;
    border: 1px solid transparent;
}

.paid {
    background-image: url('images/paid.png');
    background-size: 5.5%;
    background-position: left;
    background-repeat: no-repeat;
    margin: -.5vw 0 .3vw 0;
    border: 1px solid transparent;
}

form {
    padding: auto;
}

input {
    border-color: #D6CABC;
    border-radius: 8px;
    color: #84603D;
    width: 10vw;
}

input[type=number] {
    width: 2.7vw;
    margin: 0px .5vw;
  }

input[type=number]:focus {
    transition: background-color .35s ease-in-out;
    background-color:  #D6CABC;
  }

input[type=checkbox] {
    width: 1.8vw;
  }